.expiration {
  text-align: center;
  color: #840032;
  font-size: 1.5rem;
  padding-bottom: .5rem;
  padding-top: .5rem;
  width: 80vw;
  margin-bottom: 0rem;
}

.item-card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;
  padding: 2rem;
  background-color: #f9f9f9;
  color: black;
  font-size: 1.25rem;
  margin: 1rem;
  width: 75vw;
}

.ate-button,
.donate-button {
  padding: 1rem;
  margin: 1rem;
}

.item-image {
  height:7rem;
  width:7rem;
  border-radius: 10%;
}