.item-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .25rem;
  margin: 3%;
  width: 15vw;
  background-color: #f9f9f9;
  border-radius: 2%;
}

.preview-image {
  width: 6rem;
  height: 6rem;
  border-radius: 5%;
}