.overview {
  display:grid;
  place-items: center;
  /* background-color: #f9f9f9 ; */
  padding:1rem;
  color: black;
  margin-top: 1rem;
  width:80rem;
  margin-left: 4rem;
}

.overview > p {
  margin:0;
  padding: 1rem;
  font-size: 1.1rem;
}
